<h1>Welcome</h1>

Please <%= link_to "log in", new_user_session_path %> to access the application.<br/>

Not registered yet? Please <%= link_to 'click here', new_user_registration_path %> to sign up.
